@font-face {
    font-family: ABeeZee;
    src: url(font/ABeeZee-Regular.otf);
}
.conteneurPrincipal {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
   }
body{
    font-family: ABeeZee;
    margin-left: 10px;
    margin-right: auto;
}
#avatar { 
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 10px auto;
    order: 1;    
}
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #FFCC00;
    text-align: center;
    margin-top: 25px;
    order: 3;
}
.sidebar h2{
    background-color: #333;
    color: #FFCC00;
    margin: 0px 0px 15px 0px;
    font-variant-caps: all-petite-caps;
    font-size: 20px;
    text-align: center;
}
p.contact, p.apropos, .picto{
    background-color: #FFCC00;
    text-align: justify;
    padding: 0px 10px 10px 10px;
    text-decoration: none;
}
.picto{
    max-height: 40px;    
    border: 2px solid #333;
    border-radius: 50%;
    padding: 2px;
    margin: 10px;
}
.banniere {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    order: 2;    
}
.prenom{
    color: #FFCC00;
    font-weight: bold;
    font-size: 45px;
}
.nom{
    font-weight: lighter;
    font-size: 45px;
}
.couleurJaune, .web{
    font-size: 25px;
}
.parcours{
    order: 4;
}
.puce{
    padding-left: 15px;
    margin-bottom: 0px;
}
p.premierePuce{
    background: url('images/puce1.png') no-repeat left;
}
p.deuxiemePuce{
    background: url("images/puce2.png") no-repeat left;
}   
.dateFormation, .descriptionFormation, .descriptionExperience, .dateExperience, ul.recommandation1, ul.recommandation2{
    list-style: none;
}
.souligne{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 15px 60px;  
    border-bottom: 2px solid #FFCC00;
}
.mortier{
    background: url("images/diplome.png") no-repeat  center left;
}    
.entreprise{
    background: url("images/sac.png") no-repeat  center left;    
}
.stylo{
    background: url("images/bic.png") no-repeat  center left;
}
.lieu{
    margin-top: 0px;
    margin-left: 15px;    
}
h4{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 0px; 
}
.conteneurFormation, .conteneurExperience, .conteneurRecommandation{
    background-color:#FFF;
    padding: 10px;
    margin: 10px 0px 10px 0px;
/*arrondi coins haut gauche et bas droite*/   
    border: 3px solid #fff;
    -moz-box-shadow: 8px 8px 12px #aaa; 
    -webkit-box-shadow: 8px 8px 12px #aaa; 
    box-shadow: 8px 8px 12px #555;
}

/*CSS pour écran*/
@media only screen and (min-width: 1024px)  {

body{
    margin: 0px;
}
.conteneurPrincipal{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-areas: 
    "avatar banniere"
    "sidebar parcours";
    grid-template-columns: 25% 75%;
}
.sidebar{
    grid-area: sidebar;
    margin-top: 0px;
}
.parcours{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    grid-area: parcours;
}
#avatar{    
    background-color: #FFCC00;
    margin: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-area: avatar;    
}
img.photo{
    border-radius: 100%;
    border: solid #FFE082;
}
.sidebar h2{
    margin: 30px 0px 30px 0px;
    font-size: 25px; 
}
p.contact{
    text-align: left;   
    color: #333;
    font-weight: bold;
    width: 90%;
    margin: 30px auto 10px auto;
}
p.apropos{
    width: 90%;
    margin: 30px auto;
}
#loisirs{
    margin-top: auto;
}
.picto{    
   max-height: 60px;    
}
.banniere{
    grid-area: banniere;
    margin-left: 60px;
}
.prenom{
    font-size: 58px;
}
.nom{
    font-size: 58px;   
}
h1, span.couleurJaune{
    font-variant: small-caps;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 30px;
    letter-spacing: 0.239em;
    text-align: left;
}
.couleurJaune{
    border-bottom: 2px solid #FFCC00;           
}
.conteneurFormation, .conteneurExperience, .conteneurRecommandation{
    margin: 0px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    box-shadow: none;  
}
.dateFormation, .dateExperience{
    min-height: 90px;
    width: 200px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;   
}
.descriptionFormation, .descriptionExperience{
    min-height: 90px;
    width: 500px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 0px; 
}
.recommandation1, .recommandation2{
    min-height: 90px;
    width: 350px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;    
}
ul.recommandation1, ul.recommandation2{
    list-style: none;
}
ul.recommandation2{
    list-style: none;
    padding-left: 40px;
}
.premiereRecommandation, .deuxiemeRecommandation{
    font-weight: bold;
    font-size: 18px;
}
.puce{
    font-weight: bold;  
}
.souligne{
    border-bottom: 3px solid #FFCC00;
    font-size: 30px;
    padding: 25px 0px 10px 80px;
}
.mortier{
    margin: 20px 0px 8px 0px;            
}
.entreprise{
    margin-top: 25px;   
}
.stylo{
    margin-top: 100px;    
}
h4{
    margin-top: 16px;
}
p{
    margin-bottom: 1px;
    text-align: justify;
    font-weight: lighter;
}
.lieu{
    font-weight: bold;
}
}

